# Django Configuration
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=your_database_host
DB_PORT=5432

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email Configuration (Brevo SMTP)
# Email Configuration (Brevo SMTP)
BREVO_API_KEY=your_api_key
DEFAULT_FROM_EMAIL=default-email

# Stripe Configuration
STRIPE_SECRET_KEY=secret_key_here
STRIPE_PUBLISHABLE_KEY=publishable_key_here
STRIPE_WEBHOOK_SECRET=webhook_secret_here

# Frontend Configuration
FRONTEND_URL=http://localhost:5173


# Redis
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
REDIS_CACHE_URL=redis://127.0.0.1:6379/1

DEBUG=True